html, body {
  height: 100%;
    }
    
    body {
      display: table;
      width: 100%;
      min-height: 100%;
      background-color: #171717;
      position: relative;
    }
    
    @keyframes fade-in{
      to {scale: 1; opacity: 1;}
  }